<ion-header class="ion-no-border">
  <ion-toolbar color="white">
    <ion-title mode="ios" style="font-weight: 800; letter-spacing: 1px;">SAPATAMU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header-promo">
    <!--<span class="badge">UTS PROJECT</span>-->
    <h1>Bikin Undangan <br><span class="highlight">Gak Pakai Ribet.</span></h1>
    <p>Pilih desain estetik yang sesuai dengan vibemu.</p>
  </div>

  <h3 class="section-title">Katalog Desain 2026</h3>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="template-card card-blue" (click)="pilihTemplate('modern-blue')">
          <div class="preview-mini">
             <ion-icon name="color-fill"></ion-icon>
          </div>
          <div class="card-info">
            <p class="type">Modern</p>
            <h6>Electric Blue</h6>
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="template-card card-gold" (click)="pilihTemplate('luxury-gold')">
          <div class="preview-mini">
             <ion-icon name="sparkles"></ion-icon>
          </div>
          <div class="card-info">
            <p class="type">Premium</p>
            <h6>Luxury Gold</h6>
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="template-card card-dark" (click)="pilihTemplate('minimalist-dark')">
          <div class="preview-mini">
             <ion-icon name="moon"></ion-icon>
          </div>
          <div class="card-info">
            <p class="type">Simple</p>
            <h6>Minimalist Dark</h6>
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="template-card card-floral" (click)="pilihTemplate('floral-garden')">
          <div class="preview-mini">
             <ion-icon name="leaf"></ion-icon>
          </div>
          <div class="card-info">
            <p class="type">Aesthetic</p>
            <h6>Floral Garden</h6>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>